<div class="top-row ps-3 navbar">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="">Reverse Proxy</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-section-label">General</div>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-section-label">Configuration</div>
        <div class="nav-item">
            <NavLink class="nav-link" href="routes">
                <span class="bi bi-graph-up-nav-menu" aria-hidden="true"></span> Routes
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="clusters">
                <span class="bi bi-hdd-network-nav-menu" aria-hidden="true"></span> Clusters
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
